<!DOCTYPE html>
<html lang="en"></html>
	<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    	<title>Dojo Survey Input Page</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="~/css/Index.css">
	</head>
    <body>
        <h1>Dojo Survey! Input Your Info Below!</h1>
        <form action='/result' method='post'>
            <div>Your Name:  <input type='text' name='name'></div>
            <div>Dojo Locations:  <select name="dojo">
                    <option value="Berkeley">Berkeley</option>
                    <option value="Boise">Boise</option>
                    <option value="Chicago">Chicago</option>
                    <option value="Dallas">Dallas</option>
                    <option value="LA">LA</option>
                    <option value="OC">OC</option>
                    <option value="Online">Online</option>
                    <option value="TC">TC</option>
                    <option value="Tulsa">Tulsa</option>
                    <option value="SanJose">San Jose</option>
                    <option value="Seattle">Seattle</option>
                </select>
            </div>
            <div>Favorite Language:  <select name="language">
                <option value="C#">C#</option>
                <option value="C++">C++</option>
                <option value="Java">Java</option>
                <option value="JavaScript">JavaScript</option>
                <option value="Python">Python</option>
                </select>
            </div>
            Comment (optional):  <textarea class="textarea" name="comment" rows="5"></textarea>
            <input class="btn" type="submit" value="Submit Data">
        </form>
    </body>
</html>