<!DOCTYPE html>
<html lang="en">
	<head>
    	<title>Survey Results</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="~/css/Index.css">
	</head>
    <body>
      <p>Submitted Information:</p>
      <p>Name: <%= info.name %></p>
      <p>Dojo Location: <%= info.dojo %></p>
      <p>Favorite Language: <%= info.language %></p>
      <p>Comment: <%= info.comment %></p><br><br>
      <form action='/'><input type="submit" value="Go Back"></input></form>
    </body>
</html>